---
import { content } from "../cheatsheet";
import Header from "../components/Header.astro";
import CheatSheet from "../components/cheatsheet/CheatSheet.svelte";
import Layout from "../layouts/Layout.astro";

const sections = content;
---

<Layout title="Interactive Cheatsheet - Javascript">
	<Header />

	<main class="mt-6 mb-12 flex flex-col gap-6 mx-auto px-3 sm:px-6">
		<CheatSheet client:only="svelte" {sections} />
	</main>
</Layout>
