---
import { content } from "../cheatsheet";
import CheatSheet from "../components/CheatSheet.svelte";
import Layout from "../layouts/Layout.astro";
import { trimEndNewLineInPlace } from "../lib/helpers/object";

const sections = content;
trimEndNewLineInPlace(sections);
---

<Layout title="Interactive Cheatsheet - Javascript">
	<main class="mt-6 mb-12 flex flex-col gap-6 mx-auto px-6">
		<h1 class="text-3xl font-bold">Interactive javascript cheatsheet</h1>
		<CheatSheet client:only="svelte" {sections} />
	</main>
</Layout>
