---
import CodeEditor from "../components/CodeEditor.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="mt-6 flex flex-col gap-6 mx-auto max-w-5xl px-10">
		<h1 class="text-3xl font-bold">Interactive javascript cheatsheet</h1>

		<section>
			<h2 class="text-xl font-bold">Priting</h2>
			<div class="flex flex-col gap-2">
				<div>
					You can print text to screen using the function <code
						>console.log()</code
					>
				</div>
				<CodeEditor
					code="console.log('hello word');"
					client:only="svelte"
				/>
			</div>
		</section>
	</main>
</Layout>

<style>
	.ultra-height {
		height: 3000px;
	}

	code {
		border-radius: 3px;
		background: #3333;
		padding: 1px 3px;
	}
</style>
