/* Defaults */
html {
    font-family: "Fira Code", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
    background-color: #f6f6f6;
}

code {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    border-radius: 3px;
    background: #3333;
    padding: 1px 3px;
}

/* Utilities */
.code-font {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
}

.ace_hidden-cursors {
    opacity: 0;
}

/* Prose modifiers */
.prose {
    font-size: 0.9rem;
}

.prose p {
    margin-bottom: 0.3rem;
}

.prose h1,
.prose h2,
.prose h3 {
    font-weight: 700;
}

.prose h1 {
    font-size: 1.5rem;
}

.prose h2 {
    font-size: 1.3rem;
}

.prose h3 {
    font-size: 1rem;
}

.prose a {
    color: rgb(37, 105, 214);
}

.prose li {
    list-style-type: disc;
    list-style-position: inside;
}

.prose li::marker {
    color: #333e;
}

.prose ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1rem;
}

.prose ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.prose ul ul,
.prose ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

.prose ol ol,
.prose ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}


/* Overriding dracula */
.ace-dracula .ace_comment {
    color: #6A9955
}