/* Defaults */
html {
    font-family: "Fira Code", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
    background-color: #f6f6f6;
}

code {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
    border-radius: 3px;
    background: #3333;
    padding: 1px 3px;
}

/* Utilities */
.code-font {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
}

.ace_hidden-cursors {
    opacity: 0;
}

/* Overriding dracula */
.ace-dracula .ace_comment {
    color: #6A9955
}