/* Prose modifiers */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.prose {
    font-size: 0.9rem;
    font-family: 'Inter', ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, Liberation Mono, Courier New, monospace;
}

.prose p {
    margin-bottom: 0.3rem;
}

/* Headings */
.prose h1,
.prose h2,
.prose h3 {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.prose h1 {
    font-size: 1.5rem;
}

.prose h2 {
    font-size: 1.3rem;
}

.prose h3 {
    font-size: 1rem;
}

/* Link */
.prose a {
    color: rgb(37, 105, 214);
}

/* Image */
.prose img {
    margin: 1rem 0;
}

/* Lists */
.prose ul>li,
.prose ol>li {
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}

.prose li::marker {
    color: #333e;
    font-weight: 600;
}

.prose ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.prose ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.prose ul ul,
.prose ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

.prose ol ol,
.prose ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}